.contact:hover {
    cursor: pointer;
    background-color: #B2F9FC;
}

.contact {
    width: 100%;
    /* height: 30%; */
    border-bottom: 1px solid #EEEEEE;
}

.bg-antiquewhite {
    background-color: antiquewhite;
}

.container {
    width: 100%;
    height: 100vh;
    /* background-color: #EEEEEE; */
}

.header {
    width: 100%;
    height: 20%;
    padding: 10px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #EEEEEE;
}

.content {
    width: 100%;
    height: 80%;
    display: flex;
}

.contacts {
    width: 30%;
    overflow: auto;
    max-height: 100%;
    height: 100%;
}

.contact-box {
    border-left: 1px solid #EEEEEE;
    width: 70%;
    box-sizing: border-box;
}

.bg-grey {
    background-color: #EEEEEE;
}

.contact-des {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}